apiVersion: v1
kind: Service
metadata:
  name: webapp-service
spec:
  type: NodePort
  selector:
    app: webapp
  ports:
  - protocol: TCP
    port: 3000     #Service Port (Internal Cluster Port)          
    targetPort: 3000   #container or pod port
    nodePort: 30100       #external port or nodes port (30000---32767)
